* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.custom-card{
	margin-top: 7rem;
	box-shadow: 2px 2px 17px 0 rgba(0,0,0,.5);
	padding: 0;
	
}

.custom-card-body {
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	
}

.top-section{
	padding: 1.5rem;
}

.bottom-left-section{
	background-color: hsl(179, 62%, 43%);
	color: white;
/*	margin-right: -2rem;*/
}

.bottom-right-section{
	background-color: hsl(218, 22%, 67%);
	color: white;
}

.first-line{
	color: green;
}

.second-line{
	color: hsl(71, 73%, 54%);
}

.third-line{
	color: hsl(204, 43%, 93%);
}

.test {
	background-color: red;
	padding: 0;
	margin: 0;
}